body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    padding: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}
h3 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 200;
}
p {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
