@import url('https://fonts.googleapis.com/css?family=Arimo:wght@100;200;300;400;600;700&display=swap');

*{
    font-family: 'Arimo', sans-serif;
    font-size: 12;
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom right, #00BFFF, #000000);
}

.body-content{
    background-color: #F8F8FF;
    background-position: center;
    margin: 100px 70px;
    box-sizing: border-box;
}

/*HEADER*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0%;

}

.header .logo h1 {
    font-size: 30px;
    margin-left:20px;
    font-weight: 700;  
}


/*ISI CONTENT*/

.dashboard{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.profile{
    border: 1px solid #00BFFF;
    margin: 20px 10px 20px 20px ;
    background-color: azure;
    width: 40%;
    box-sizing: border-box;
    height: 100%;
    border-radius: 20px;
}

.profile .profile-pic{
    text-align: center;
}

.profile img{
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    margin: 50px auto 20px;
 
}

.profile h2{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.profile .content-user{
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px 10px;
    margin: 40px 30px;
}

.profile .content-user a{
    color: #000000;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: box-shadow 0.3s ease;
    width: 50%;
}

.profile .content-user a:hover{

    box-shadow: 0 0 20px rgba(40, 120, 163, 0.404);
}


.isi-content{
    border: 1px solid #00BFFF;
    margin: 20px 20px 20px 10px ;
    justify-content: center;  
 
    background-color: azure;
    width: 60%;
    border-radius: 20px;
}

.isi-content .header-content{
    margin: 30px auto;
}

.isi-content .header-content h4{
    font-size: 20px;
    text-align: center;
}


.isi-content .header-content .add-review{
    align-items: center;
    display: flex;
    background-color: #00bfff24;
    width: 90px;
    border-radius: 7px;
    color: #285caa;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    margin: 30px auto 20px 30px 
}

.header-content .add-review span{
    font-size: 15px;
    margin: 5px;
}

.header-content .add-review i{
    margin-left:10px;
}

.isi-content .main-content{
    margin: 30px;
    border-left: 5px solid #000000;
}


.isi-content .main-content h3{
    margin: 10px auto 10px 10px;
}


.isi-content .main-content p{
    margin: 10px auto 20px 10px;
}


.isi-content .box-category{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
}

.box-category .box {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    height: 100px;
    width: 150px;
    align-items: center;
    /* display: flex; */
    text-align:  center;
}

.box-category .box h2{
    margin-top: 30px;
}

